body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#navbar{
    background-color: rgb(40, 40, 230);
     padding: 5px;
}
#banner{
    object-fit: cover;
}
.web{
    background-color: rgb(40, 40, 230);
    color: black;
    text-align: left;
}
a{
    text-decoration: none;
    color: #3B82F6;
}
a:hover{
    color:#1D4ED8;
}

h1{ 
    text-align: center;
    color: black;
}

h2{
    color: black;
}

#banner{
    width: 100%;
}
#about{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}
#description{
    width: 50px;
    padding-right: 8px;
}
#team{
    width: 50px;
    border-radius: 5px;    
}

.team-image{
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
a{
   text-decoration: none;
}
#jobs-table{
width: 100%;
border: 1px solid gray; 
border-collapse: collapse;
}

.jobs-header-row th{
    border: 1px solid gray;
    padding: 8px;
    background-color: aliceblue;
    text-align: center;

}
.vamsi td{
    border:1px solid gray;
    padding: 8px;

}
#jobs-table tr:nth-child(odd){
background-color: aliceblue;
}
h2{
    text-align: center;
}

#application-form{
text-align: center;

}
#application{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

#application-form div{margin: 14px;

}
#application-form label{
    font-weight: 600;
}
#application-form input,select,textarea{
    padding: 4px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;
}
.form-group textarea{
     width: 80%;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-group input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
.form-group input[type="submit"] {
    background-color: #3B82F6;
    color: white;
    font-weight: 500;
    padding: 16px 16px 16px 16px;
    cursor: pointer;
}

#jobs{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}
h3{
    margin-bottom: 8px;
    margin-top: 0;

}

.apply{
    float: right;
}


#footer{
    background-color: ghostwhite;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links{
    list-style: none;
    
}

#footer-links li{
    display: inline;
    margin: 15px;
}
#copy{
    color: gray;
    margin-left: 18px;
}